* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: Calibri, sans-serif; */
}

.openModal {
    overflow-y: hidden;
}

.contentPage {
    min-height: 100vh;
    padding-top: 10rem;
    background-color: #F6F7F8;
}