.GreenSection {
  width: 100%;
  min-height: 50rem;
  padding: 0px 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #035757;

  position: relative;
}

.TextGreen {
  width: 50%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 10rem;
}

.GreenTitle {
  margin-bottom: 3.7rem;

  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.8rem;

  letter-spacing: -0.011rem;

  color: #ffffff;
}

.GreenText {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: -0.011rem;

  color: #ffffff;
}

.GirlGreen {
  width: 39.377rem;
  height: 39.388rem;
}

.BottomGirl {
  width: 31.44rem;
  height: 35.874rem;

  position: absolute;
  bottom: -23rem;
}

.BtnSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5rem;

  background-color: #c2d1d1;
}

.MenthorBtn {
  background-color: #e8505b;
  border: none;

  color: #ffffff;
}

.ForumBtn {
  background-color: #ffffff;
  border: 2px solid #e8505b;

  color: #e8505b;
}

.BtnHome {
  width: 46.7rem;
  height: 12rem;

  margin-top: 5rem;

  border-radius: 5rem;

  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.9rem;
  letter-spacing: -0.011rem;

  text-align: center;

  cursor: pointer;
}

.BtnHome:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
