.GreenSection {
  width: 100%;
  min-height: 50rem;
  padding: 10rem 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #035757;
}

.TextGreen {
  z-index: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* margin: 10rem 0; */
}

.GreenTitle {
  margin-bottom: 3.7rem;

  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.8rem;

  letter-spacing: -0.011rem;

  color: #ffffff;
}

.GreenText {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: -0.011rem;

  color: #ffffff;
}

.GirlGreen {
  width: 39.377rem;
  height: 39.388rem;
}

.BottomGirl {
  width: 31.44rem;
  height: 30rem;

  position: absolute;
  top: 3rem;
  left: 2rem;
}

.BtnSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5rem;

  background-color: #c2d1d1;

  position: relative;
}

.MenthorBtn {
  background-color: #e8505b;
  border: none;

  color: #ffffff;
}

.ForumBtn {
  background-color: #ffffff;
  border: 2px solid #e8505b;

  color: #e8505b;
}

.BtnHome {
  width: 46.7rem;
  /* height: 12rem; */

  padding: 3rem 0;

  z-index: 2;

  margin-top: 5rem;

  border-radius: 5rem;

  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.9rem;
  letter-spacing: -0.011rem;

  text-align: center;

  cursor: pointer;
}

.BtnHome:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

@media screen and (max-width:800px) {
  .HomePage img {
    display: none
  }

  .TextGreen {
    width: 100%;
  }
}